.sidebar-header {
  padding: 16px 0px 0px 5px;
  color: #3f51b5;
  font-weight: bold;
}

.sidebar {
  width: 150px;

  .mat-list-item-content {
    padding-left: 10px;
  }

  .router-link-active {
    display: none;
  }
}
