<mat-card *ngIf="repo" class="card">
  <mat-card-header class="no-avatar">
    <mat-card-title>{{repo.name}}</mat-card-title>
    <mat-card-subtitle>{{repo.description}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Repository data
        </mat-panel-title>
      </mat-expansion-panel-header>
      <dl class="prop-list">
        <dt>Owner</dt>
        <dd><a routerLink="/profile/{{repo.owner.login}}">{{repo.owner.login}}</a></dd>
        <dt>Created</dt>
        <dd>{{parseDate(repo.created_at)}}</dd>
        <dt>Language</dt>
        <dd>{{repo.language}}</dd>
        <dt>Clone (SSH)</dt>
        <dd>{{repo.ssh_url}}</dd>
        <dt>Clone (HTTPS)</dt>
        <dd>{{repo.clone_url}}</dd>
      </dl>
    </mat-expansion-panel>
  </mat-card-content>
  <mat-card-actions>
      <a href="{{repo.html_url}}" target="_blank">
        <button mat-stroked-button>GO TO GITHUB</button>
      </a>
      <button mat-stroked-button (click)="loadCommits()">COMMITS</button>
  </mat-card-actions>
</mat-card>
<mat-list id="commitlist">
  <mat-list-item *ngFor="let commit of commits" class="commit">
    <mat-card>
      <mat-card-header class="no-avatar">
        <mat-card-title>{{commit.commit.message}}</mat-card-title>
        <mat-card-subtitle>
          {{commit.committer.login}} commited on {{parseDate(commit.commit.committer.date)}}
          <br/>
          <small>{{commit.sha}}</small>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <span class="ul-parent">Parents: {{commit.parents.length}}</span>
        <ul>
          <li *ngFor="let parent of commit.parents">
            <a href="{{parent.html_url}}" target="_blank">{{parent.sha}}</a>
          </li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
          <a href="{{commit.html_url}}" target="_blank">
            <button mat-stroked-button>GO TO GITHUB</button>
          </a>
      </mat-card-actions>
    </mat-card>
  </mat-list-item>
</mat-list>
<div class="loadmore" *ngIf="commits.length > 0 && !commitLoading && commitHasMore">
  <button mat-stroked-button (click)="loadCommits()" color="warn">More...</button>
</div>
<div class="loading" *ngIf="commitLoading">
  <mat-progress-bar mode="query"></mat-progress-bar>
</div>
